
.subContainer{
  display: flex;
  justify-content: right;
    margin-left: 7%;
}

.addTo{
  height: 10%;
  width: 10%;
  margin-left: 4.5%;
  margin-top: 3%;
}

.subTitle{
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 3%;
  font-family: avenir next;
}

.whiteLine {
  height: 1px;
  display: inline-block;
  margin-left: 7%;
  margin-top: 7%;
  width: 55%;
}


.ListHome p {
  margin-top: -3%;
  margin-left: 6%;
  font-family: avenir next;
  font-weight: 100;
  font-size: 15px;
}