
.subContainer{
  display: flex;
  justify-content: right;
    margin-left: 7%;
}

.addTo{
  height: 40%;
  width: 60%;
  margin-left: 3%;
  margin-top: 17%;
}

.subTitle{
  font-size: 115%;
  font-weight: 100;
  padding-bottom: 3%;
  font-family: avenir next;
}

.whiteLine {
  height: 1px;
  display: inline-block;
  margin-left: 7%;
  margin-top: 7%;
  width: 55%;
}


.ListHome p {
  margin-top: -3%;
  padding-left: 9%;
  padding-right: 9%;
  font-family: avenir next;
  font-weight: 100;
  font-size: 15px;
}