/* This applies from 0px to 600px */

html {
  color: white;
  background-image: url("./assets/backgroundMob.png");
  background-size: 105%;                  
background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}


#profilepic {
   width: 102%;
}

.content {
  overflow-x: scroll;
  margin-top: 8em;
  height: 30em;
  width: 100%;
  background-color: transparent;
}


/* This applies from 600px onwards */

@media (min-width: 600px) {
  .body {
    background: green;
  }
  html {
    background-image: url("./assets/backgroundWeb.png");
    background-size: cover;               
    background-repeat: no-repeat;
  }
}