.drop {
  margin-top: 20%;
  margin-left: 10%;
}

.drop select {
font-size:14px;
color: white;
}


.addDonation {
  height: 20%;
  width: 20%;
}



.addDonationP{
  margin-left: 80%;
  margin-top: -5%;
}

#formDonations {
  display: flex;
  margin-top: 5%;
  margin-left: -7%;
  padding-bottom: 7%;
}

#formDonations p {
  margin-top: 7%;
  margin-left: -5%;
  font-size: 12px;
  font-family: avenir next;
}
