.add {
  height: 10%;
  width: 10%;
  margin-left: -15%;
}

.substract {
  padding-right: 20%;
  padding-left: 10%;
  height: 10%;
  width: 10%
}

.title {
  text-align: center;
  margin-top: 29%;
  padding-bottom: 4%;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: avenir next;
}

h1 {
  font-weight: 100;
}

.score{
  margin-top: -3%;
  font-family: avenir next;
}

.scorecontainer {
  display: flex;
  justify-content: left;
  margin-left: 25%;
  
}

.desc {
  font-family: avenir next;
  margin-top: 0%;
  margin-left: 8%;
  font-size: 17px;
  font-weight: 100;
}

.ScoreCont{
  margin-top: -23%;
}

.donationsNum {
  margin-left: 45%;
}

.donationsText {
   margin-top: 1%;
  margin-left: 6%;
}

.smilesText{
  margin-top: 1%;
}

.sparkScore {
  margin-left: 3%;
  width: 11%;
}

.space {
  margin-left: 2px;
}